services:
  bot:
    image: "ghcr.io/stp-team/questioner:latest"
    container_name: questioner
    stop_signal: SIGINT
    restart: unless-stopped
    env_file:
      - ".env"
    labels:
      caddy: $WEBHOOK_DOMAIN
      caddy.reverse_proxy: "{{upstreams ${WEBHOOK_PORT}}}"
      caddy.handle: $WEBHOOK_PATH

    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://localhost:${WEBHOOK_PORT}/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

    depends_on:
      cache:
        condition: service_healthy

    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
        compress: "true"

    networks:
      - stp_bots
      - caddy

    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 512M
        reservations:
          memory: 256M

  cache:
    image: valkey/valkey:9-alpine3.23
    restart: unless-stopped

    command: >
      valkey-server --port $REDIS_PORT
      --save 20 1
      --loglevel warning
      --requirepass $REDIS_PASSWORD

    env_file:
      - ".env"

    volumes:
      - cache:/data

    networks:
      - stp_bots

    healthcheck:
      test: [ "CMD", "sh", "-c", "valkey-cli -p $$REDIS_PORT -a $$REDIS_PASSWORD ping | grep -q PONG" ]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s

    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 128M
        reservations:
          memory: 64M

volumes:
  cache: { }

networks:
  stp_bots:
    external: true
  caddy:
    external: true
